* {
  font-family: "IBM Plex Mono", monospace;
}

.maze-grid {
  height: 100vh; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
}

.maze {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
}

.maze-button {
  background-color: #0091ff; 
  color: white;
  margin: 10px; 
  cursor: pointer; 
  font-size: 16px; 
  border: none; 
  padding: 10px 20px;
  border-radius: 5px;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid white;
}

.cell.wall {
  background-color: black;
}

.cell.pah {
  background-color: whiite;
}

.cell.start {
  background-color: green;
}

.cell.end {
  background-color: red;
}

.cell.visited {
  background-color: lightblue;
}